.detail-history {
   .ant-row{
    padding: 10px 0;
   }
  .detail-customer {
    font-size: 16px;
    color: #000;

    span {
      font-weight: 400;
      font-size: 17px;
      color: #1677ff;
    }
  }
  .detail-staff {
    font-size: 16px;
    color: #000;
    span {
      font-weight: 400;
      font-size: 17px;
      color: #1677ff;
    }
  }
  .detail-branch {
    font-size: 16px;
    color: #000;
    span {
      font-weight: 400;
      font-size: 17px;
      color: #1677ff;
    }
  }
  .detail-trade {
    font-size: 16px;
    color: #000;
    span {
      font-weight: 400;
      font-size: 17px;
      color: #1677ff;
    }
  }
}
