.sent-sms{
    .box-sentsms{
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #bfbfbf;
        h4{
            margin-bottom: 10px;
            font-size: 16px;
        }
        // #configsms{
        //     @media (max-width: 600px) {
        //         width: 300px;
        //       }
        // }
    }
}