.editUser{
    .boxedituser{
        @media (max-width: 450px) {
            width: 300px;
          }
        width: 600px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #bfbfbf;
        #editpassword{
            .ant-input-affix-wrapper{
                padding: 7px;
            }
        }
    }
}
.ant-tabs-nav::before{
border-bottom: none !important;
}